@tailwind base;
@tailwind components;
@tailwind utilities;


.ProseMirror {
    padding: 16px;
    border: 1px solid #ccc;
    background: #f3f6f7a3;
    border-radius: 15px;
    min-height: 150px;
    outline: none;
  }
.ProseMirror:hover{
  background: #95c5d577;
}

  ul, li {
    list-style-type: disc;
    margin-left: 20px;
  }